/* Grundlegende Reset-Einstellungen */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #121212; /* Dunkler Hintergrund */
    color: #e0e0e0; /* Heller Text */
}

h1, h3 {
    margin-bottom: 20px;
    color: #bb86fc; /* Helle Akzentfarbe für Überschriften */
}

p {
    margin-bottom: 10px;
    color: #e0e0e0; /* Heller Text */
}

/* Container für den Inhalt */
#content {
    margin: auto;
    max-width: 1000px;
    background: #1e1e1e; /* Dunkler Hintergrund für den Inhalt */
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Heller Schatten */
}

figure {
    margin: 20px 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

figcaption {
    margin-top: 8px;
    font-style: italic;
    color: #aaa; /* Hellerer Text für Bildunterschriften */
}

/* Stil für Überschriften und Text */
h1 {
    text-align: center;
}

h3 {
    color: #bb86fc; /* Akzentfarbe für h3 Überschriften */
}

p, figcaption {
    font-size: 16px;
}

/* Container für die Slides */
.slide-container {
    position: relative;
    max-width: 70%; /* Anpassung der Breite des Containers */
    margin: auto; /* Zentriert den Container */
    background-color: #333; /* Dunkler Hintergrund für Slide-Container */
}

/* Slides */
.mySlides {
    display: none;
    text-align: center; /* Zentriert das Bild innerhalb des Slides */
}

/* Navigationspfeile */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Zentriert die Pfeile vertikal */
    width: auto;
    padding: 16px;
    color: #bb86fc; /* Akzentfarbe für Pfeile */
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    user-select: none;
    background-color: #333; /* Dunkler Hintergrund für Navigationspfeile */
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: #bb86fc; /* Akzentfarbe beim Hover */
    color: #121212; /* Dunkler Text beim Hover */
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Anpassungen für verbesserte Lesbarkeit und Interaktivität im dunklen Thema */
a {
    color: #bb86fc; /* Helle Akzentfarbe für Links */
    text-decoration: none; /* Optional: Entfernt Unterstreichung für ein sauberes Design */
}

a:hover {
    text-decoration: underline; /* Optional: Fügt Unterstreichung beim Hover für bessere Erkennbarkeit hinzu */
}

/* Weitere Anpassungen können hier hinzugefügt werden, je nach Bedarf */
